<a href="https://colab.research.google.com/github/vivek201102/ML-Labs/blob/master/Lab_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder, OneHotEncoder

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Datasets/Data_for_Transformation.csv")

x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

# print(x)
# print(y)

x_new = df.iloc[:, 1:3].values
# print(x_new)

# Scaling data
min_max_scaler = MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x_new)
# print(x_scaled)

std_scaler = StandardScaler()
x_std_scaled = std_scaler.fit_transform(x_new)
# print(x_std_scaled)


# print(df.describe())

# Label Encoder
le = LabelEncoder()

y_le = le.fit_transform(y)
y_class = le.classes_
# print(y_le)
# print(y_class)


x[:, 0] = le.fit_transform(x[:, 0])
# print(x)


# One Hot Encoding
dataset = df
dummy = pd.get_dummies(dataset['Country'])
dataset = dataset.drop(['Country', 'Purchased'], axis=1)
dataset = pd.concat([dummy,dataset], axis=1)
print(dataset)


onehotencoder = OneHotEncoder()
data =  onehotencoder.fit_transform(df.Country.values.reshape(-1,1)).toarray()
print(data)

dfOneHot = pd.DataFrame(data, columns = ["Country_"+str(int(i)) for i in range(df.shape[1]-1)])
df1 = pd.concat([df, dfOneHot], axis=1)
df1 = df1.drop(['Country'], axis=1)
print(df1)

In [ ]:
# Handling missing values
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

dataset = pd.read_csv('/content/drive/MyDrive/Datasets/Data_for_Missing_Values.csv')
# print("Data :\n",dataset)
# print("Data statistics\n",dataset.describe())

x = dataset.iloc[:, :-1].values
y= dataset.iloc[:, -1].values
# print(x)
# print(y)

# Drop null if any one is null
dataset.dropna(axis=0,how='any',inplace=True)
print(dataset, "\n\n")

# Drop null row if all is null
dataset.dropna(axis=0,how='all',inplace=True)
print(dataset)

In [ ]:
updated_df = dataset;
updated_df['Age']=updated_df['Age'].fillna(updated_df['Age'].mean())
print(updated_df.info())

print("\n\n\n\n")

print(dataset)


updated_df = dataset;
updated_df['Salary']=updated_df['Salary'].fillna(updated_df['Salary'].mean())
print(updated_df.info())

print("\n\n\n\n")

print(dataset)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
new_X = dataset.iloc[:, :-1].values
# Only last column
new_Y = dataset.iloc[:, -1].values

In [ ]:
datasets = pd.read_csv('/content/drive/MyDrive/Datasets/Data_for_Missing_Values.csv')
print("\nData :\n",datasets)
print("\nData statistics\n",datasets.describe())

X = datasets.iloc[:, :-1].values
Y = datasets.iloc[:, -1].values
print("\n\nInput : \n", X)
print("\n\nOutput: \n", Y)

In [ ]:
datasets.dropna(axis=0,how='all',inplace=True)
print("\nNew Data :",datasets)

In [ ]:
# 4b. Imputation (Replacing null values with mean value of that attribute)

new_X = datasets.iloc[:, :-1].values
new_Y = datasets.iloc[:, -1].values
updated_df['Age'].fillna(updated_df['Age'].mean())
imputer = SimpleImputer(missing_values = np.nan,strategy = "mean")
imputer = imputer.fit(new_X[:, 1:3])
new_X[:, 1:3] = imputer.transform(new_X[:, 1:3])

print("\n\nNew Input with Mean Value for NaN : \n\n", new_X)

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

data = pd.read_csv('/content/drive/MyDrive/Datasets/Data_for_Correlation.csv')
data.head()

data = data.iloc[:,:-1]
data.head()

In [ ]:
data.info()

In [ ]:
corr = data.corr()
corr.head()

          X1        X2        X3        X4
X1  1.000000  0.972714  1.000000  0.263266
X2  0.972714  1.000000  0.972714  0.163575
X3  1.000000  0.972714  1.000000  0.263266
X4  0.263266  0.163575  0.263266  1.000000

In [ ]:
sns.heatmap(corr)

In [ ]:
columns = np.full((corr.shape[0],), True, dtype=bool)
for i in range(corr.shape[0]):
    for j in range(i+1, corr.shape[0]):
        if corr.iloc[i,j] >= 0.9:
            if columns[j]:
              columns[j] = False

In [ ]:
selected_columns = data.columns[columns]
selected_columns.shape

(2,)

In [ ]:
data = data[selected_columns]
print(data)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler
exdata = pd.read_csv('/content/drive/MyDrive/Datasets/Exercise-CarData.csv')

In [ ]:
X = exdata.iloc[:, 1:3].values
Y = exdata.iloc[:, -1].values

print(X, "\n", Y)

minmaxscaler = MinMaxScaler()
x_min_max = minmaxscaler.fit_transform(X)
print(x_min_max)

std_scaler = StandardScaler()
x_std = std_scaler.fit_transform(X)
print(x_std)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
data = pd.read_csv('/content/drive/MyDrive/Datasets/Exercise-CarData.csv')
print("\nData :\n",data)
print("\nData statistics\n",data.describe())

In [ ]:
X = data.iloc[:, :-1].values
Y = data.iloc[:, -1].values
print("\n\nInput : \n", X)
print("\n\nOutput: \n", Y)

data.dropna(axis=0,how='all',inplace=True)
print("\nNew Data :",data)

In [ ]:
# features
new_X = data.iloc[:, :-1].values
# target
new_Y = data.iloc[:, -1].values

imputer = SimpleImputer(missing_values = np.nan,strategy = "mean")

# Fitting the data, function learns the stats
imputer = imputer.fit(new_X[:, 1:3])

# fit_transform() will execute those stats on the input ie. X[:, 1:3]
new_X[:, 1:3] = imputer.transform(new_X[:, 1:3])

print("\n\nNew Input with Mean Value for NaN : \n\n", new_X)

New Input with Mean Value for NaN :

 [[0 13500.0 23.0 ... 0 2000 'three']
 [1 13750.0 23.0 ... 0 2000 '3']
 [2 13950.0 24.0 ... 0 2000 '3']
 ...
 [1433 8500.0 55.67215568862275 ... 0 1300 '3']
 [1434 7250.0 70.0 ... 0 1300 '3']
 [1435 6950.0 76.0 ... 0 1600 '5']]